<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../lib/vue.min.js"></script>
</head>
<body>

  <!-- ? Contoh penggunaan Global component -->

  <div id="app1">
    <h1>Objek Vue 1</h1>
      <component-a></component-a>
      <component-b></component-b>
  </div>
  <div id="app2">
    <h1>Objek Vue 2</h1>
      <component-a></component-a>
      <component-c></component-c>
  </div>



    <script>
    Vue.component('component-a', {
      template: `<p>Component A</p>`
      })
    Vue.component('component-b', {
      template: `<p>Component B</p>`
      })
    Vue.component('component-c', {
      template: `<p>Component C</p>`
      })
    new Vue({ el: '#app1' })
    new Vue({ el: '#app2' })
    </script>
  </body>